html,
body {
  margin: 0;
  font-weight: 300;
}

* {
  font-family: Inter, sans-serif;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  font-size: 18px;
  line-height: 26px;
}

li:not(first-child) {
  margin-top: 0.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

p {
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 16px;
}
